* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
    background: #E5E5E5;
}

.backgroundCont {
    position: 'relative';
    height: 364px;
    width: 100%;
    background: linear-gradient(274.83deg, #5DB0DF 0.58%, #5D7ADF 74.3%);
}

#navbar {
    position: relative;
    height: 27px;
    width: 1143px;
    top: 37px;
    border-radius: 0px;
    color: #fff;
    margin: auto;

    display: flex;
    justify-content: space-between;
}

#navLeft {
    display: flex;
}

#navRight {
    display: flex;
}

.logo {
    position: relative;
    width: 107px;
    height: 27px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 20px;
}

.logoCont {
    height: 18px;
    width: 18px;
}

.logoText {
    position: absolute;
    width: 79px;
    height: 27px;

    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 27px;

    color: #FFFFFF;
}

.textCont {
    position: relative;
}

.navText {
    position: relative;
    width: auto;
    margin-left: 20px;
    height: 21px;
    text-align: center;

    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 27px;

    color: #FFFFFF;
}

.line {
    position: absolute;
    width: 34px;
    height: 0px;
    left: 30px;
    bottom: 0;

    border: 2px solid #FFFFFF;
}

#headCont {
    position: relative;
    width: 1143px;
    margin: auto;
    position: relative;
    top: 142px;
}

.head {
    position: relative;
    width: 511px;
    height: 72px;

    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 72px;

    color: #FFFFFF;
}

.headText {
    position: relative;
    width: 654px;
    height: 30px;

    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 30px;

    color: #FFFFFF;
}

/* search box */


/* cards */

#content {
    position: relative;
    width: 1154px;
    height: auto;
    margin: auto;
    padding: 50px 0;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.card {
    position: relative;
    width: 560px;
    height: 200px;
    display: flex;
    padding: 25px;
    background: #FFFFFF;
    border-radius: 20px;
    margin-top: 30px;
}

.cardContent {
    position: relative;
    height: 100%;
    margin-left: 20px;
}

.imgBox {
    position: relative;
    width: 150px;
    height: 150px;

    background: #C4C4C4;
    border-radius: 16px;
}

.cardHead {
    position: relative;
    width: 229px;
    height: 36px;

    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;

    color: #000000;
}

.cardText {
    position: relative;
    width: 336px;
    height: 63px;

    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;

    color: #7B7B7B;
}

.cardBtn {
    position: absolute;
    width: 120px;
    height: 40px;
    bottom: 0;
    right: 20px;
    border: 2px solid #F07987;
    background: transparent;
    color: #F07987;
    border-radius: 10px;

    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
}